.popup__form-name {
  width: 100%;
  max-width: 422px;
  border: 0;
  border-bottom: 1px solid #000000;
  padding-bottom: 13px;
  box-sizing: border-box;
  font-weight: 400;
}

.popup__form-name:focus {
  outline: none;
  }