.popup__form-submit {
  width: 100%;
  background-color: black;
  border: 0;
  color: white;
  min-height: 50px;
  margin-top: 30px;
  transition: opacity .5s linear;
  border-radius: 2px;
}

.popup__form-submit:hover {
  opacity: .6;
}