.popup__close-button {
  background-image: url(../../../images/CloseIcon.svg);
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  position: absolute;
  background-color: rgba(0,0,0,.01);
  left: 436px;
  top: -40px;
}