.element__container {
  width: 100%;
  max-width: 282px;
  padding-right: 17px;
  background-color: white;
  list-style: none;
}

.element__container:last-child {
  padding-right: 0;
}

.element__container:nth-child(3) {
  padding-right: 0;
  }